{%extends 'generator/layout.html'%}

{%block content%}
<h1>About</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque quam assumenda quos cupiditate labore perferendis fuga impedit ratione sit numquam natus enim architecto nobis tenetur, quia beatae aliquid! Cumque, ullam.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto inventore doloremque neque modi dolorum sapiente at cupiditate praesentium dicta, sint temporibus quos pariatur quibusdam dolorem nisi tempora! Suscipit, repellendus ipsam.</p>

{%endblock%}

